<h2>$client.getName()'s details</h2>

<form action="/stylist/$client.getStylistId()/client/$client.getId()/update" method="post">
  <label for="description">Description</label>
  <input id="description" name="description" type="text">
  <button type="submit" class="btn btn-info">Update Client Details</button>
</form>
